# Seed-Guided Topic Model for Document Filtering and Classification

This notebook is an implementation of the paper available at `doi:10.1145/3238250`.

In [37]:
import pandas as pd
import numpy as np

# nltk
import nltk
from nltk.corpus import stopwords
from  nltk.stem import SnowballStemmer

# Utility
import re
# import os

In [39]:
# TEXT CLENAING
TEXT_CLEANING_RE = "@\S+|https?:\S+|http?:\S|[^A-Za-z0-9]+"

In [34]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Tay\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [19]:
tweets_df = pd.read_csv(r"../data/tweets_dataset/training.1600000.processed.noemoticon.csv")

UnicodeDecodeError: 'utf-8' codec can't decode bytes in position 80-81: invalid continuation byte

In [22]:
# DATASET
DATASET_COLUMNS = ["target", "ids", "date", "flag", "user", "text"]
DATASET_ENCODING = "ISO-8859-1"

In [24]:
dataset_path = r"../data/tweets_dataset/training.1600000.processed.noemoticon.csv"
print("Open file:", dataset_path)
tweets_df = pd.read_csv(dataset_path, encoding =DATASET_ENCODING , names=DATASET_COLUMNS)

Open file: ../data/tweets_dataset/training.1600000.processed.noemoticon.csv

In [25]:
tweets_df

,target,ids,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
...,...,...,...,...,...,...
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [27]:
tweets_df.dtypes

target     int64
ids        int64
date      object
flag      object
user      object
text      object
dtype: object

In [33]:
stop_words = stopwords.words("english")
stemmer = SnowballStemmer("english")

## Data cleaning

In [35]:
def preprocess(text, stem=False):
    # Remove link,user and special characters
    text = re.sub(TEXT_CLEANING_RE, ' ', str(text).lower()).strip()
    tokens = []
    for token in text.split():
        if token not in stop_words:
            if stem:
                tokens.append(stemmer.stem(token))
            else:
                tokens.append(token)
    return " ".join(tokens)

In [40]:
%%time
tweets_df.text = tweets_df.text.apply(lambda x: preprocess(x))

Wall time: 54.5 s

In [57]:
tweets_df.head()

,target,ids,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,awww bummer shoulda got david carr third day
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,upset update facebook texting might cry result...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,dived many times ball managed save 50 rest go ...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,whole body feels itchy like fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,behaving mad see

Draw a small subset of the tweets for testing the algorithm

In [60]:
small_df = tweets_df.loc[:99, :]

In [61]:
small_df

,target,ids,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,awww bummer shoulda got david carr third day
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,upset update facebook texting might cry result...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,dived many times ball managed save 50 rest go ...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,whole body feels itchy like fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,behaving mad see
...,...,...,...,...,...,...
95,0,1467836448,Mon Apr 06 22:26:27 PDT 2009,NO_QUERY,Dogbook,strider sick little puppy
96,0,1467836500,Mon Apr 06 22:26:28 PDT 2009,NO_QUERY,natalieantipas,rylee grace wana go steve party sadly since ea...
97,0,1467836576,Mon Apr 06 22:26:29 PDT 2009,NO_QUERY,timdonnelly,hey actually one bracket pools bad one money
98,0,1467836583,Mon Apr 06 22:26:29 PDT 2009,NO_QUERY,homeworld,follow either work
99,0,1467836859,Mon Apr 06 22:26:33 PDT 2009,NO_QUERY,willy_chaz,bad nite favorite teams astros spartans lose n...

In [62]:
for doc in small_df.text:
    for r in revTopics:

awww bummer shoulda got david carr third day
upset update facebook texting might cry result school today also blah
dived many times ball managed save 50 rest go bounds
whole body feels itchy like fire
behaving mad see
whole crew
need hug
hey long time see yes rains bit bit lol fine thanks
nope
que muera
spring break plain city snowing
pierced ears
bear watch thought ua loss embarrassing
counts idk either never talk anymore
would first gun really though zac snyder doucheclown
wish got watch miss iamlilnicki premiere
hollis death scene hurt severely watch film wry directors cut
file taxes
ahh ive always wanted see rent love soundtrack
oh dear drinking forgotten table drinks
day get much done
one friend called asked meet mid valley today time sigh
baked cake ated
week going hoped
blagh class 8 tomorrow
hate call wake people
going cry sleep watching marley
im sad miss lilly
ooooh lol leslie ok leslie get mad
meh almost lover exception track gets depressed every time
some1 hacked account aim make new one
want go promote gear groove unfornately ride may b going one anaheim may though
thought sleeping option tomorrow realizing evaluations morning work afternoon
awe love 1 miss
cry asian eyes sleep night
ok sick spent hour sitting shower cause sick stand held back puke like champ bed
ill tell ya story later good day ill workin like three hours
sorry bed time came gmt 1
either depressing think even want know kids suitcases
bed class 8 12 work 12 3 gym 3 5 6 class 6 10 another day gonna fly miss girlfriend
really feel like getting today got study tomorrows practical exam
reason teardrops guitar one enough break heart
sad sad sad know hate feeling wanna sleep still
awww soo wish see finally comfortable im sad missed
falling asleep heard tracy girl body found sad heart breaks family
yay happy job also means less time
checked user timeline blackberry looks like twanking still happening ppl still probs w bgs uids
oh man ironing jeancjumbe fave top wear meeting burnt
strangely sad lilo samro breaking
oh sorry think retweeting
broadband plan massive broken promise via www diigo com tautao still waiting broadband
wow tons replies may unfollow see friends tweets scrolling feed lot
duck chicken taking wayyy long hatch
put vacation photos online yrs ago pc crashed forget name site
need hug
sure pos much want dont think trade away company assets sorry andy
hate happens
sad feeling dallas going show gotta say though think shows would use music game mmm
ugh 92 degrees tomorrow
u move thought u already sd hmmm random u found glad hear yer well
miss ps3 commission wutcha playing copped blood sand
leaving parking lot work
life cool
sadly though never gotten experience post coitus cigarette never
nice day bad rain comes tomorrow 5am
bad around lost job even pay phone bill lmao aw shucks
damm back school tomorrow
mo jobs money hell min wage 4 f n clams hour
forever see soon
agreed saw failwhale allllll day today
oh haha dude dont really look em unless someone says hey added sorry terrible need pop
sure right need start working nikster jared least
really hate people diss bands trace clearly ugly
gym attire today puma singlet adidas shorts black business socks leather shoes lucky run cute girls
show location
picnic phone smells like citrus
donkey sensitive comments nevertheless glad see mug asap charger still awol
new csi tonight fml
think arms sore tennis
wonders someone u like much make unhappy split seccond depressed
sleep soon hate saying bye see tomorrow night
got ur newsletter fares really unbelievable shame already booked paid mine
missin boo
itm
damn chalk chalkboard useless
blast getty villa hates sore throat day getting worse
hey missed ya meeting sup mama
tummy hurts wonder hypnosis anything working get stop smoking
always fat ones
sorry babe fam annoys thankfully asleep right muahaha evil laugh
paid attention covered photoshop webpage design class undergrad
wednesday b day know 2
poor cameron hills
pray please ex threatening start sh babies 1st birthday party jerk still headache
hmm u really enjoy problems constants u think things find someone ulike
strider sick little puppy
rylee grace wana go steve party sadly since easter wnt b able 2 much ohh well
hey actually one bracket pools bad one money
follow either work
bad nite favorite teams astros spartans lose nite w good